header {
	text-align: center;
}

.navbar {
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

a {
	color: white;
	background-color: rgba 255, 255, 255, 1;
	padding: 5px;
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: white;
}

body {
	margin: 0;
	background-color: black;
}

.topbar {
	background-color: black;
	color: white;
	box-shadow: 5px 5px 5px white ;
	display: flex;
	justify-content: space-between;
}

.topbar #name {
	text-align: left;
	margin: 15px;
	font-size: 48px;
}

.topbar #title {
	text-align: right;
	margin: 15px;
	font-size: 24px;
	padding-top: 24px;
}

#me {
	max-width: 25%;
	max-height: 25%;
	margin-top: 80px;
}

.description {
	color: white;
	margin-right: 15px;
	margin-top: 80px;
	min-height: 390px;
	max-width: 1100px;
	float: right;
}

.description p {
	padding-top: 50px;
	margin: 15px;
	font-size: 36px;
}


@media screen and (max-width: 600px) {
	a {
		font-size: 18px;
	}
	
	.topbar #name {
		font-size: 18px;
		float: left;
	}
	.topbar #title {
		font-size: 18px;
		padding-top: 0px;
		
	}
	#me {
		max-width: 50%;
		max-height: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.description {
		border: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		float: none;
	}

	.description p {
		font-size: 20px;
		margin-top: -20px;
	}
}

@media screen and (min-width:601px) and (max-width: 1280px){
	.topbar #name {
		font-size: 40px;
	}
	#me {
		max-width: 20%;
		max-height: 20%;
	}
	a {
		font-size: 22px;
	}
	.description{
		min-height: auto;
		margin-right: auto;
		margin-left: auto;
	}

	.description p {
		margin-top: -20px;
		font-size: 20px;
		}
}

